.related-wrap{margin:auto;}

.related-item-wrap{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    margin-right: 10px;
    padding-top: 8px;
}

.related-post-thumbnail {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 25%;
	margin-bottom:30px;
}

.related-post-thumbnail img{min-height:100px; max-height:100px;}

.related-post-title{border-bottom:1px solid #ccc; padding-bottom:6px;}

.related-item-wrap li{list-style:none;}




